// Monitor View Base Styles
.monitor-view {
  height: 100%;
  color: $white;
  background: $purple;

  h1 {
    margin: 0;
    font-size: 36px;
    line-height: 1em;
    font-weight: bold;
    text-transform: uppercase;
  }

  main {
    height: 100%;
  }

  .wrap {
    height: 100%;
    margin: 0 auto;
    position: relative;
    @include clearfix();
    @include min-screen($bpMd) {
      // set breakpoints on a per-module basis when possible
    }
  }

  .post {
    height: 100%;
    .post-content {
      padding: 100px 100px 100px ($column*5);
      position: relative;
      background: $purple;
      flex-basis: 14*$column;
      &::before {
        right: 0;
        bottom: 0;
        content: '';
        height: 35%;
        position: absolute;
        border-right: 30px solid #fff;
        border-top: 30px solid transparent;
      }
      &::after {
        top: 0;
        right: 0;
        content: '';
        height: 65%;
        position: absolute;
        border-right: 30px solid #fff;
        border-bottom: 30px solid transparent;
      }
      .right-border {
        top: 0;
        bottom: 0;
        width: 4px;
        right: -4px;
        background: $white;
        position: absolute;
      }

      .post-content-wrap {
        z-index: 1;
        position: relative;
      }

      .idea-title {
        h1 {
          margin: 0;
        }
      }
      .idea {
        padding: 0;
        margin: 62px 0;
        p {
          margin: 0;
          font-size:  96px;
          font-weight: bold;
          line-height: .9375em;
        }
      }
      .post-meta {
        p {
          margin: 0;
          font-size: 36px;
          line-height: 1.166666667em;
        }
      }
    }

    .post-image {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background: white;
      position: absolute;
      mix-blend-mode: multiply;
      &::before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        content: '';
        position: absolute;
        background: $purple;
        mix-blend-mode: color;
      }
      img {
        width: auto;
        height: 100%;
        max-width: none;
        filter: grayscale(100%) brightness(150%);
      }
    }

    .post-aside {
      z-index: 1;
      padding: 100px;
      position: relative;
      flex-basis: 4*$column;
      &::before {
        left: -26px;
        bottom: 0;
        content: '';
        height: 35%;
        position: absolute;
        margin-bottom: -1px;
        border-right: 30px solid $purple;
        border-top: 30px solid transparent;
      }
      &::after {
        top: 0;
        left: -26px;
        content: '';
        height: 65%;
        margin-top: -1px;
        position: absolute;
        border-right: 30px solid $purple;
        border-bottom: 30px solid transparent;
      }
    }
  }

}