// Variables

// Colors
$black: #231f20;
$white: #fff;
$gray: #666;
$gray-dark: #555;
$gray-light: #d0d0d0;
$orange: #ff7063;
$gold: #ffcc00;
$turquoise: #48b79c;

// Brand Swatches
$brand-main: $turquoise;
$brand-secondary: $gold;

// Breakpoints
$bpSm: 30em; // 480px
$bpMd: 43.75em; // 700px
$bpLrg: 62.5em; // 1000px
$bpHuge: 187.5em; // 3000px

// Padding/margins
$padding: 48px;